.button {
    margin: 10px;
    width: 60px;

    background: black;
    color: white;
    outline: none;
    border-radius: 5px;
}

.button:focus {
    outline: #99ff99 solid 1px;
}

.active {
    background: darkslategrey;
}

.affair {
    display: flex;
}

.item {
    margin: 10px;
    width: 100px;
}

.high {
    color: red;
}
.middle {
    color: orange;
}

.low {
    color: lime;
}

