input:focus{
    outline: none;
    border: teal solid 2px;
}

.superInput {
    margin: 10px;

    background: lightskyblue;
    color: teal;
}

.errorInput {
    margin: 10px;

    background: lightskyblue;
    color: teal;

    border: 2px solid #dd3355;
}

.error {
    color: red;
    height: 21px;
    margin-left: 10px;
}