.link {
    text-decoration: none;
    color: lightseagreen;
    margin: 10px;
}

.link:hover {
    color: #8666ff;
}

.active {
    color: #48faff;
}

.block {
    width: 21px;
    height: 21px;

    margin: 10px;

    background: #B5E520;
}

.header {
    display: flex;

    width: 270px;

    transition-duration: 500ms;
    transform: translate(-220px);
}

.header:hover {
    transition-duration: 500ms;
    transform: translate(0);
}

