.greeting {
    display: flex;
    align-items: flex-start;
}

.error {
    color: red;
    height: 21px;
    margin-left: 10px;
}

.input {
    margin: 10px;
    border-radius: 5px;

    /*background: #003300;*/
    color: gray;
}

input:focus {
    outline: none;
    border: lightseagreen solid 2px;
    border-radius: 5px;
}

.errorInput {
    margin: 10px;
    border-radius: 5px;

    /*background: #003300;*/
    color: #99ff99;

    border: 2px solid red;
    outline: none;
}

.button {
    margin: 10px;
    width: 60px;

    background: lightskyblue;
    color: darkslategray;
    outline: none;
    border-radius: 5px;
}

.button:focus {
    outline: darkslategrey solid 1px;
}

.button:active {
    background: lightsalmon;
}

.button:disabled {
    color: darkslategrey;
}

.count {
    margin: 10px;
}